#root {
  min-height: 100dvh;
  background: #9bcbb0;
  background-image: url(../public/sdsbackground.jpg);
}

p,
h1,
h2,
span {
  font-family: "Algerian", "Comic Sans", serif;
  color: black;
}

p {
  font-size: 1.2rem;
}

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  text-align: center;

  filter: drop-shadow(0 0 0.75rem #000000);
}

img {
  height: 220px;
  border-radius: 1rem;
  display: block;

  filter: drop-shadow(0 0 0.75rem #000000);
}

button {
  font-size: 1.5rem;
  padding: 5px;
  color: black;
}

button:hover {
  transform: scale(1.05);

  filter: drop-shadow(0 0 0.75rem #4d0000);
}

button:active {
  transform: scale(1.01);
  filter: drop-shadow(0 0 0.75 #4d0000);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 35px;
  padding-bottom: 0;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 23dvw;
  max-width: 23dvw;
  height: 300px;
  border-radius: 1rem;
  padding: 10px;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #4d0000);
}

.card:active {
  transform: scale(1.01);
  filter: drop-shadow(0 0 0.75 #4d0000);
}

.card-section {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.winScreen {
  height: 70dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playAgainBtn {
  font-family: "Algerian", "Comic Sans", serif;
  background-color: #995a;
  border-radius: 1rem;
  padding: 10px;
}

.level {
  text-align: center;
  padding: 0;
}

.instructions {
  font-size: 1rem;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

@media (max-width: 750px) {
  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 0.9rem;
  }
  .instructions {
    font-size: 0.8rem;
  }
  img {
    height: 150px;
  }
  .card {
    min-width: 18dvw;
    max-width: 18dvw;
    height: 250px;
  }
}

@media (max-width: 565px) {
  .top {
    padding: 10px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .instructions {
    font-size: 1rem;
  }
  img {
    height: 110px;
  }
  .card {
    min-width: 20dvw;
    max-width: 20dvw;
    height: 180px;
  }
  .board {
    padding-left: 10px;
  }
}

@media (max-width: 480px) {
  .top {
    padding: 10px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .instructions {
    font-size: 1rem;
  }
  img {
    height: 110px;
  }
  .card {
    min-width: 20dvw;
    max-width: 20dvw;
    height: 180px;
  }
  .board {
    padding-left: 10px;
  }
}

@media (max-width: 405px) {
  .top {
    padding: 10px;
  }
  h1 {
    font-size: 1rem;
  }
  h2 {
    font-size: 1rem;
  }
  p {
    font-size: 1rem;
  }
  .instructions {
    font-size: 1rem;
  }
  img {
    height: 110px;
  }
  .card {
    min-width: 20dvw;
    max-width: 20dvw;
    height: 180px;
  }

  .board {
    padding-left: 10px;
  }
}
