#root {
  min-height: 100dvh;
  background: #9bcbb0;
}

p,
h1,
h2 {
  font-family: "Algerian", "Comic Sans", serif;
  color: black;
}

p {
  font-size: 1.2rem;
}

h2 {
  padding: 0;
  margin: 0;
  text-align: center;
}

img {
  width: 200px;
  height: 300px;
  border-radius: 1rem;
  display: block;
}

button {
  font-size: 1.5rem;
  padding: 5px;
  background-color: #85bfb2;
  color: black;
}

button:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #9da95a);
}

button:active {
  transform: scale(1.01);
  filter: drop-shadow(0 0 0.75 #79999);
}

.top {
  display: flex;
  justify-content: space-between;
  padding: 35px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 20dvw;
  background: #85bfb2;
  border-radius: 1rem;
  padding: 10px;
  transition: all 0.5s ease;
}

.card:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 0.75rem #9da95a);
}

.card:active {
  transform: scale(1.01);
  filter: drop-shadow(0 0 0.75 #79999);
}

.card-section {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding-bottom: 50px;
}

.winScreen {
  height: 80dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
